* {
    box-sizing: border-box;

}

html{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}

header{
    flex-grow: 0;
}

main{
    flex-grow: 1;
}

footer{
    flex-grow: 0;
}

.div-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;

}


strong {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #1c2331;
}

@media (max-width: 768px) {
    .post {
        width: 40%;
    }
}

@media (max-width: 425px) {
    .post {
        width: 80%;
    }
}



